body {
    color:blue;
    text-align: center;
    font-family: "Arial";
    margin: 0em;
    background-image: url("..imagenes/fkc_ya.jpg");
    background-color: cornflowerblue;

}

h2 {
    color: chartreuse;
    text-align: right;
    text-decoration: double;
}
.p {
    background-color: blue;
    color: yellowgreen;
    font-family: cursive;

}
#footer {
    background-color: tomato;
    padding: 50%;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 30 px solid black;
    background-image: url("..imagenes/fkc_ya.jpg");
}

#container h1 {
    font-size: xx-large;
}